<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>JPR</title>
</head>
<body>
    <!-- <nav class="navbar navbar-dark bg-success">
        <div class="container">
            <a href="#" class="navbar-brand mx-auto">J P R</a>
        </div>        
    </nav> -->

    <section id="showcase">
        <div id="primary-overlay">
                <h1 class="text-center pt-5">Welcome to the Caribbean!</h1>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <div class="card card-body bg-dark pt-5 pb-5">
                                <form id="form" action="/api/places" method="POST">
                                    <div class="form-group">
                                        <input id='searchInput' name="search" type="text" class="form-control p-2" placeholder="Search Places">
                                    </div>  
                                    <h2 class="py-1 lead text-center">Search places, including the best hotels and resourts of The Dominican Republic!</h2>   
                                </form>                                
                            </div>                                               
                        </div>
                        <div id="places" class="col-md-8 mx-auto">

                        </div>
                    </div>
                </div>    
        </div>
    </section>

    
    <script src="/js/main.js"></script>

    
</body>
</html>