/* body{
    padding: 10px;
} */

#showcase{
    position: relative;
    background-image: url('/img/image6.jpg');
    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 850px;}
    #primary-overlay{
        background-color: rgb(0, 0, 0, .4);
        position: absolute;
        width: 100%;
        min-height: 850px;
        left: 0;
        top: 0;
    }

    .bg-dark{
        opacity: .5;
    }